.card {
  .card-image {
    max-height: 60%;
    position: relative;

    img {      
      display: block;
      border-radius: 5px 5px 0 0;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    .card-title {
      max-width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 1.5rem;
      font-size: 1.5rem;
      font-weight: lighter;
      color: white;
    }
  }

  .card-content {
    max-height: 100%;
    padding: 1rem;
  }  

  .card-action {
    position: relative;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 1rem 1.5rem;
  }
}
